@font-face {
	font-family: 'BlankSpace';
	src: url('fonts/BlankSpace.ttf');  
	format('opentype');
}

*{
	background:#282828; 
}

canvas{ 
	margin-top:0;
    margin-left:10%;
	border:5px solid #f6f6f6;  
}

h1{
	background:#282828;  
	font-size:48px; 
	font-family:'BlankSpace'; 
	font-weight:normal;  
	color:#fff;
	text-align:center;   
}

p{ 
	margin-left:10%;
	margin-bottom:0;
	margin-top:0;     
	color:#fff;
	font-family:"jaapokki";
	font-size:20px;
	font-weight:normal;   
}
